

  .carousel-indicator-item {
    width: 15px;
    height: 15px;
    border: none;
    background: #0a0404;
    opacity: 0.5;
    margin: 0.2em;
    border-radius: 50%;
    cursor: pointer;
  }
  .active {
    opacity: 1;
  }